<% @title = "#{@gemstone.name } | TGDB" %>

<h2><%= @gemstone.name %></h2>
<a href="<%= "/gemstones/#{@gemstone.id}/edit" %>" class="btn btn-default btn-sm">Edit</a>
<p><%= @gemstone.description %></p>
